<!DOCTYPE HTML>
<html ng-app="myQuiz">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Test Your Knowledge: Saturn</title>
		<link rel="stylesheet" type="text/css" href="css/quiz.css">
		<script src="js/angular.min.js" defer></script>
		<script src="js/quiz.js" defer></script>
	</head>
	<body>
		<div class="my-quiz" ng-controller="QuizController as quizCtrl">
			<h1>Test Your Knowledge: <span>Saturn</span></h1>
			<div class="progress">
				<div class="{{ $index === quizCtrl.activeQuestion? 'on' : 'off' }}" ng-repeat="myQuestion in quizCtrl.myQuestions"></div>
			</div>
			<div class="intro {{ quizCtrl.activeQuestion > -1 ? 'inactive' : 'active' }}">
				<h2>Welcome</h2>
				<p>Click begin to test your knowledge of Saturn.</p>
				<p class="btn" ng-click="quizCtrl.activeQuestion = 0">Begin</p>
			</div>
			<div class="question {{ quizCtrl.activeQuestionAnswered === 1 ? 'answered' : 'unanswered'}} +
			+ {{ quizCtrl.activeQuestion === $index ? 'active' : 'inactive'}}"
				 ng-repeat="myQuestion in quizCtrl.myQuestions">
				<p class="text">{{ myQuestion.question }}</p>
				<p class="answer" ng-repeat="answer in myQuestion.answers">{{ answer.text }}</p>
				<div class="feedback">
					<p>You are <strong>correct</strong>!</p>
					<p>That is <strong>not</strong> correct</p>
					<p>Additional feedback</p>
					<div class="btn">Continue</div>
				</div>
			</div>
			<div class="results">
				<h3>Results</h3>
				<p>You scored X% by correctly answering X of the total X questions</p>
				<p>Use the links below to challenge your friends.</p>
				<div class="share">
					<a class="btn email" href="#">Email</a>
					<a class="btn twitter" href="#">Tweet</a>
				</div>
			</div>
		</div>
	</body>
</html>